{% extends "layout.html" %}
{% block content %}
{% if todos %}
<h2>Todo List</h2>
<table>
{% for item in todos %}
    <tr>
        {% autoescape false %}
        <td>{{ item[0] }}</td>
        {% endautoescape %}
        <td>{{ item[1] }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}

<br>
<form method="post">
    <label for="content">Todo</label>
    <input id="content" maxlength="22" name="content" placeholder="content" type="text" value="">
    <button type="submit">Add</button>
</form>
<br>
{% endblock %}